<div class="new-entry-container col-md-12">

<h1>New Entry</h1>

<div>
<label>Name</label>
<!--   <form class="form-inline"> -->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="First" ng-model="newTask.firstName">
    <!-- </div> -->
    <!-- <div class="form-group"> -->
      <input type="text" class="form-control" placeholder="Last" ng-model="newTask.lastName">
    </div>
  <!-- </form> -->
</div>

<div>
<label>Address</label>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Street Address" ng-model="newTask.streetAddress">
    <input type="text" class="form-control" placeholder="City" ng-model="newTask.city">
    <input type="text" class="form-control" placeholder="State" ng-model="newTask.state">
    <input type="text" class="form-control" placeholder="Zipcode" ng-model="newTask.zipcode">
  </div>
</div>

<div>
<label>Phone</label>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="(000)000-0000" ng-model="newTask.phone">
  </div>
</div>

<div>
<label>Email</label>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Example@domain.com" ng-model="newTask.email">
  </div>
</div>

<!-- dropdown group-->
<form class="form-inline">
  <div class="form-group">

  <!-- Gender Dropdown-->
    <label>Gender:</label>
    <select ng-model="newTask.gender">
      <option disabled selected>Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

  <!-- Training Color Dropdown-->
    <label>Training:</label>
    <select ng-model="newTask.training">
      <option disabled selected>Training</option>
      <option value="Bachelor's Degree">Bachelor's Degree</option>
      <option value="Master's Degree">Master's Degree</option>
      <option value="Other">Other</option>
    </select>
  
  </div>
  <div class="form-group">

  <!-- Eye Color Dropdown-->
    <label>Eye Color:</label>
    <select ng-model="newTask.eyeColor">test
      <option disabled selected>Eye Color</option>
      <option value="Amber">Amber</option>
      <option value="Blue">Blue</option>
      <option value="Brown">Brown</option>
      <option value="Gray">Gray</option>
      <option value="Green">Green</option>
      <option value="Hazel">Hazel</option>
      <option value="Dead Inside">Dead Inside</option>
    </select>

  <!-- Hair Color Dropdown-->
    <label>Hair Color:</label>
    <select ng-model="newTask.hairColor">
      <option disabled selected>Hair Color</option>
      <option value="Black">Black</option>
      <option value="Brown">Brown</option>
      <option value="Blonde">Blonde</option>
      <option value="Auburn">Auburn</option>
      <option value="Chestnut">Chestnut</option>
      <option value="Red">Red</option>
      <option value="Gray/White">Gray/White</option>
      <option value="Bald">Bald</option>
    </select>

  </div>
</form>

<!-- Ethnic Range (?multiselect?) Dropdown. Maybe just radio buttons-->
<label>Ethnic Range</label>
<form class="form-inline">
  <div class="form-group">
    <input type="checkbox" ng-model="newTask.black">Black
    <input type="checkbox" ng-model="newTask.asian">Asian
    <input type="checkbox" ng-model="newTask.hispanic">Hispanic
    <input type="checkbox" ng-model="newTask.nativeAmerican">Native American
    <input type="checkbox" ng-model="newTask.middleEastern">Middle Eastern
  </div>
</form>

<!-- <label>Weight</label> -->
<form class="form-inline">
  <!-- <div class="row"> -->
    <div class="form-group">
      <label>Weight</label>
      <input type="number" placeholder="Weight" ng-model="newTask.weight">
    </div>
    <div class="form-group">
      <!-- equity? -->
      <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="newTask.equity">Equity
    </div>
  <!-- </div> -->
</form>

<!-- height range -->
<label>Height</label>
<div>
  <form class="form-inline">
    <div class="form-group">
      <!-- <label>Height Max</label> -->
      Height Max: <input type="number" min="0" max="8" ng-model="newTask.heightFtMax">ft
      <input type="number" min="0" max="12" ng-model="newTask.heightInMax">in
    </div>
    <div class="form-group">
      <!-- <label>Height Minimum</label> -->
      Height Minimum: <input type="number" min="0" max="8" ng-model="newTask.heightFtMin">ft
      <input type="number" min="0" max="12" ng-model="newTask.heightInMin">in
    </div>
  </form>
</div>

<!-- age range -->
<label>Age Range</label>
<div>
  <form class="form-inline">
    <div class="form-group">
      Minimum Age: <input type="number" name="quantity" min="0" max="100" ng-model="newTask.ageRangeMin">
    </div>
    <div class="form-group">
      Max Age: <input type="number" name="quantity" min="0" max="100" ng-model="newTask.ageRangeMax">
    </div>
  </form>
</div>

<!-- notes -->
<div class="form-group">
  <label>Notes</label>
  <textarea type="text" class="form-control" rows="5" placeholder="" ng-model="newTask.notes"></textarea>
</div>

<button class="btn btn-default" ng-click="">Cancel</button>
<button class="btn btn-default" ng-click="addNewActor()">Submit</button>

<div class="row"></div>





